.app {
  margin: 2em;
  margin-bottom: 5em;
}

.course-img, .lesson-img {
  width: 100%;
}

.course-description {
  font-size: 1.5em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination li a {
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #eee;
}

.preview-video {
  width: 100%;
}

@media only screen and (min-width: 992px) { 
  .course-img {
    width: 50%;
    height: 100%;
  }
  .course-info {
    display: flex;
    flex-direction: row-reverse;
  }

  .preview-video {
    margin-left: 10%;
    width: 80%;
  }
}
